In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
drinks_content = pd.read_csv("starbucks_drinkMenu_expanded.csv")

In [5]:
drinks_content.describe()

,Calories,Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g)
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,193.871901,1.307025,0.037603,6.363636,128.884298,35.991736,0.805785,32.962810,6.978512
std,102.863303,1.640259,0.071377,8.630257,82.303223,20.795186,1.445944,19.730199,4.871659
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,120.000000,0.100000,0.000000,0.000000,70.000000,21.000000,0.000000,18.000000,3.000000
50%,185.000000,0.500000,0.000000,5.000000,125.000000,34.000000,0.000000,32.000000,6.000000
75%,260.000000,2.000000,0.100000,10.000000,170.000000,50.750000,1.000000,43.750000,10.000000
max,510.000000,9.000000,0.300000,40.000000,340.000000,90.000000,8.000000,84.000000,20.000000

In [8]:
drinks_content.columns

Index(['Beverage_category', 'Beverage', 'Beverage_prep', 'Calories',
       ' Total Fat (g)', 'Trans Fat (g) ', 'Saturated Fat (g)', ' Sodium (mg)',
       ' Total Carbohydrates (g) ', 'Cholesterol (mg)', ' Dietary Fibre (g)',
       ' Sugars (g)', ' Protein (g) ', 'Vitamin A (% DV) ', 'Vitamin C (% DV)',
       ' Calcium (% DV) ', 'Iron (% DV) ', 'Caffeine (mg)'],
      dtype='object')

In [9]:
drinks = drinks_content.loc[:, ["Beverage_category", "Beverage", "Beverage_prep", "Calories"]].copy()

In [10]:
drinks

,Beverage_category,Beverage,Beverage_prep,Calories
0,Coffee,Brewed Coffee,Short,3
1,Coffee,Brewed Coffee,Tall,4
2,Coffee,Brewed Coffee,Grande,5
3,Coffee,Brewed Coffee,Venti,5
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70
...,...,...,...,...
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240

In [12]:
drinks.isna().sum()

Beverage_category    0
Beverage             0
Beverage_prep        0
Calories             0
dtype: int64

In [13]:
drinks["calorie_diff"] = drinks["Calories"] - 130
drinks

,Beverage_category,Beverage,Beverage_prep,Calories,calorie_diff
0,Coffee,Brewed Coffee,Short,3,-127
1,Coffee,Brewed Coffee,Tall,4,-126
2,Coffee,Brewed Coffee,Grande,5,-125
3,Coffee,Brewed Coffee,Venti,5,-125
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,-60
...,...,...,...,...,...
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,190
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,40
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Whole Milk,200,70
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Soymilk,180,50
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,110

In [26]:
bev_cat_calories_summary = drinks.groupby("Beverage_category")["Calories"].mean().reset_index(name = "mean_calories")
bev_cat_calories_summary.sort_values("mean_calories", ascending = True, inplace = True)
bev_cat_calories_summary.head(3)

         Beverage_category  mean_calories
1                   Coffee       4.250000
5    Shaken Iced Beverages     114.444444
0  Classic Espresso Drinks     140.172414

In [27]:
bev_cat_calories_summary.tail(3)

             Beverage_category  mean_calories
6    Signature Espresso Drinks     250.000000
2  Frappuccino® Blended Coffee     276.944444
7                    Smoothies     282.222222