# Homework week 12 day 1 - Python basics

### 1) Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

* Extract everything except the last element of the list.

In [2]:
shopping = ["spam", "ham", "eggs", "ham"]
shopping

['spam', 'ham', 'eggs', 'ham']

Then do the following:

* Extract the second element of the list.

In [3]:
shopping[1]

'ham'

* Extract the first to third (inclusive) element of the list.

In [5]:
shopping[0:3]

['spam', 'ham', 'eggs']

 * Extract everything except the last element of the list.

In [6]:
shopping[0:-1]

['spam', 'ham', 'eggs']

### 2) Set up a list with the following elements:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [7]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

Perform the following:
* Append Edinburgh Waverley to the end of the list

In [8]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

* Add "Queen Street" to the start of the list

In [9]:
stops.insert(0,"Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

* Find out what index "Croy" is at in the list

In [10]:
stops.index("Croy")

1

* Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

In [11]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

* Remove "Haymarket" from the list of stops

In [12]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [14]:
stops.clear()
stops

[]

### Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

In [31]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

Do the following:

* Return the keys, values and items from this dictionary

In [32]:
person.keys()
person.values()
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

* Take out only the name from it

In [33]:
person["name"]

'Steph'

In [34]:
# I read "take out" as "delete" before getting task 4 - should I just
# be displaying the name as above?
del person["name"]
person

{'age': 31, 'Instructor': True}

* Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [35]:
person.update({"email" : "steph@codeclan.com"})
person

{'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

* Delete the job description from the dictionary (Hint: look up the del function)

In [36]:
del person["Instructor"]
person

{'age': 31, 'email': 'steph@codeclan.com'}

### 4) For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [49]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

* Print out a list of the even integers:

In [43]:
even_numbers = []
for i in numbers:
    if i %2 == 0:
        even_numbers.append(i)

print(even_numbers)

[6, 2, 2, 6]

Print the difference between the largest and smallest value:

In [42]:
max(numbers) - min(numbers)

98

* Print True if the list contains a 2 next to a 2 somewhere

In [50]:
any(numbers[i]==numbers[i+1] for i in range(len(numbers)-1))

True

* Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [62]:
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [69]:
sum(numbers) - sum(numbers[numbers.index(6):(numbers.index(7)+1)])

127

### 5) Write a conditional that takes in two inputs :

* python_is_fun = True
* python_is_weird = True

We want to print "Woo Python!" if either:

python_is_fun is true OR
python_is_weird is true OR
both python_is_fun and python_is_weird are true.

Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [72]:
def python_rater(python_is_fun, python_is_weird):
    if python_is_fun == True:
        return "Woo Python!"
    elif python_is_weird == True:
        return "Woo Python!"
    else:
        return "Python is not for me!"

In [80]:
python_rater(False, False)

'Python is not for me!'

### 6) 

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [82]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]
chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 2},
 {'name': 'Henrietta', 'age': 3, 'eggs': 1},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 1}]