# Homework week 12 day 3 - models in Python

Use the car sales data included in file `car_dekho_details.csv`

We want you to build a linear regression model to predict the selling_price of a car in Python using scikit-learn.

## Do some basic data exploration in Python (you may wish to use pandas_profiling for this if it works for you)

In [1]:
import pandas as pd

In [2]:
sales_data = pd.read_csv("car_dekho_details.csv")

In [3]:
sales_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
sales_data.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [5]:
sales_data.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [6]:
sales_data["name"].unique

<bound method Series.unique of 0                             Maruti 800 AC
1                  Maruti Wagon R LXI Minor
2                      Hyundai Verna 1.6 SX
3                    Datsun RediGO T Option
4                     Honda Amaze VX i-DTEC
                       ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)
4336             Hyundai i20 Magna 1.4 CRDi
4337                    Maruti 800 AC BSIII
4338       Hyundai Creta 1.6 CRDi SX Option
4339                       Renault KWID RXT
Name: name, Length: 4340, dtype: object>

In [7]:
import pandas_profiling
# pandas_profiling.ProfileReport(sales_data)

## Consider doing some feature engineering (in particular, will name be useful as is? Can you extract anything useful from it? What about the treatment of year?)

Not sure how to do this

In [8]:
# Try splitting out "Name" column using space as a delimiter

# This hasn't worked for e.g. "Land Rover" 
sales_data[['name1',
            'name2',
            'name3',
            'name4',
            'name5',
            'name6',
            'name7',
            'name8',
            'name9',
            'name10',]] = sales_data["name"].str.split(" ",  expand = True)

In [9]:
# Check if first new column I created contains "brand"
sales_data["name1"].unique()

array(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',
       'Toyota', 'Jaguar', 'Mercedes-Benz', 'Audi', 'Skoda', 'Jeep',
       'BMW', 'Mahindra', 'Ford', 'Nissan', 'Renault', 'Fiat',
       'Volkswagen', 'Volvo', 'Mitsubishi', 'Land', 'Daewoo', 'MG',
       'Force', 'Isuzu', 'OpelCorsa', 'Ambassador', 'Kia'], dtype=object)

In [10]:
# rename "brand" column
# drop the other "name" columns I created
sales_data.rename(columns={"name1": "brand"}, inplace=True)
sales_data = sales_data.drop(['name2',
            'name3',
            'name4',
            'name5',
            'name6',
            'name7',
            'name8',
            'name9',
            'name10'], axis = 1)

In [11]:
sales_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,brand
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,Maruti
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,Maruti
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,Hyundai
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,Datsun
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,Honda

In [12]:
sales_data["year"].unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992])

In [13]:
# check type of data in year column
sales_data.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
brand            object
dtype: object

In [14]:
#?convert year to category
sales_data["year"] = sales_data["year"].astype('category')

In [15]:
sales_data.dtypes

name               object
year             category
selling_price       int64
km_driven           int64
fuel               object
seller_type        object
transmission       object
owner              object
brand              object
dtype: object

## Create a basic model including all your features (except name, and without variable transformations).

In [16]:
# ?Does "without variable transformations" mean dropping the
# "brand" column, and putting "year" back to integer?

In [17]:
# not sure - just going to drop "name" column

In [18]:
sales_data_for_model = sales_data.drop('name', axis = 1).copy()
sales_data_for_model.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,brand
0,2007,60000,70000,Petrol,Individual,Manual,First Owner,Maruti
1,2007,135000,50000,Petrol,Individual,Manual,First Owner,Maruti
2,2012,600000,100000,Diesel,Individual,Manual,First Owner,Hyundai
3,2017,250000,46000,Petrol,Individual,Manual,First Owner,Datsun
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner,Honda

In [19]:
# Everything below here just copy/pasted from notes - 
# not sure I'm understanding any of it

from sklearn.model_selection import train_test_split

In [20]:
y = sales_data_for_model["selling_price"]
X = sales_data_for_model.drop(columns = "selling_price")

In [21]:
# tryin logistic regression based on graphs I did later on, at the foot of this document

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 7)

In [22]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(X_train, y_train)

ValueError: could not convert string to float: 'Renault'

In [ ]:
model.score(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

In [ ]:
pred_test = model.predict_proba(X_test)
pred_test

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_true = y_test, y_score = pred_test)

  ### section below was initial attempt at linear regression

In [ ]:




sales_data_for_model = pd.get_dummies(sales_data_for_model, drop_first = True)

sales_data_for_model.head()

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
y = sales_data_for_model["selling_price"]
X = sales_data_for_model.drop(columns = "selling_price")

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 7)

In [ ]:
model = LinearRegression()

model.fit(X, y)

In [ ]:
model.score(X, y)

In [ ]:
model.intercept_

In [ ]:
model.coef_

In [ ]:
pd.DataFrame(
  {
  "Variable" : X.columns.values,
  "Coefficient" : model.coef_
  }
)

In [ ]:
import statsmodels.api as sm

X_i = sm.add_constant(X)
X_i.head()

In [ ]:
sm_model = sm.OLS(y, X_i).fit()
print(sm_model.summary())

In [ ]:
residuals = sm_model.fittedvalues - y

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt

sns.residplot(x = sm_model.fittedvalues, y = residuals,
                          lowess=True,
                          scatter_kws={'alpha': 0.5},
                          line_kws={'color': 'red', 'lw': 1, 'alpha': 0.8})
plt.xlabel("Fitted value")
plt.ylabel("Residual")

In [ ]:
import scipy.stats as stats

sm.qqplot(residuals, dist=stats.t, fit=True, line='45')

In [ ]:
# I don't understand anything in the previous section- 
# drawing some quick graphs to see if I can at least get
# a feel for how data is distributed

In [ ]:
import seaborn as sns
import matplotlib.pylab as plt

In [ ]:
sales_data.columns

In [ ]:
sales_year_summary = sales_data.groupby("year")["selling_price"].mean().reset_index(name = "mean_selling_price").copy()

In [ ]:
# sales_year_summary

In [ ]:
sns.scatterplot(x = "year", 
                y = "mean_selling_price", 
                data = sales_year_summary);

## Afer drawing the graph above, I'm going back to change my regression from linear to logistic

Should've drawn the graph first...

In [23]:
# trying to group by brand and year, then
# plot x = year, y = price, fill colour  = brand

#? Why all the 'not a number' rows?

sales_brand_year_summary = sales_data.groupby(["year","brand"])["selling_price"].mean().reset_index(name = "mean_selling_price").copy()

In [ ]:
sales_brand_year_summary

In [24]:
sns.scatterplot(x = "year", 
                y = "mean_selling_price",
                hue = "brand",
                data = sales_brand_year_summary)
plt.legend(bbox_to_anchor=(1.01, 1),borderaxespad=0)

NameError: name 'sns' is not defined

In [ ]:
sales_brand_summary = sales_data.groupby("brand")["selling_price"].mean().reset_index(name = "mean_selling_price").copy()

In [ ]:
sns.scatterplot(x = "brand", 
                y = "mean_selling_price", 
                data = sales_brand_summary)
plt.xticks(rotation=45);